@media (max-width:600px){
    nav ul{
        flex-direction: column;
    }
}
title{
    height: auto;
}
body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/afd7ba0d-5503-45c2-b7a2-0b5c5b2bd5fe.png);
    background-color: blue;
    background-repeat: no-repeat;
    font-size: 1em;
    
}
a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 18px;
    color: #ffffff;
    font-family: "Bangers", system-ui;
    font-weight: 50px;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 12px 16px;
    border-radius: 8px;
}


header{
    width: 100%;
    padding: 5px;
    text-align: center;

}

frame
*{
    padding: 0%;
}
h1
 {
    height: auto;
    font-size: 85px;
    font-size: 35px;
    font-family:"Bangers", system-ui; ;
    color: white;
    text-shadow: black;
    text-align: center;
    display: inline;
    padding: 40px;
}
.personajes{
    color: rgb(220, 20, 60);
    font-family: 'Bangers', cursive;
    text-align: center;
}
nav{
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    display: revert;
    font-family: "Bangers", system-ui;
        
}

.button{
    width: 100px;
    height: 30px;
    background-color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 10px;
    list-style: none;
    font-family: "Bangers", system-ui;
    border: none;
}

.button:hover{
    background-color: red;
    transform : scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}
li{
    list-style-type: none;
    font-family: "Bangers", system-ui;
}
.content{
    display: flex;
    margin: 0 auto;      
    padding: 20px;       
    background: rgba(0,0,0,0.25);
    border-radius: 10px;
}
.content{
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 16px;
}

h1{
    font-size: 1em;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
footer{
 font-size: 5px;   
}

.card {
  width: 250px;                  
  border: 1px solid #ccc;        
  border-radius: 40px;           
  overflow: hidden;              
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  text-align: center;            
  background: blue;              
  margin: 20px;
  height: 500px;                 
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;                 
}

.card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  padding: 0 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  max-height: 120px;       
  overflow: hidden;        
}


.card button {
  margin: 15px 0;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;     
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.cards-content {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center;
    gap: 40px;              
    margin: 30px;
}

